#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media screen and (max-width: 425px) {
    #root {
        max-width: 1280px;
        margin: 0 auto;
        padding: 1rem;
        text-align: center;
      }
      
    
}


